body {
    --color-primary: #9e3535;
    --color-primaryLight: #ff7f7f;
    --color-primaryDark: #560000;
    --color-secondary: #f3eaea;
    --color-secondaryDark: #161515;

    height: 100vh;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    width: 100vw;
}

/* Initial Section */
.section-first {
    background-image: url(../../assets/img/landingpage/FirstSection.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.section-first-topBarNavigation {
    align-items: center;
    background-color: #040404;
    display: flex;
    justify-content: flex-start;
    height: 2rem;
}

.section-first-topBarNavigation a {
    border-bottom: 1px solid transparent;
    color: #ffffff;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

.section-first-topBarNavigation a:hover {
    border-bottom: 1px solid #ffffff;
    transition: 0.15s;
}

.section-first-container {
    height: 100%;
    width: 100%;
}

.section-first-header {
    color: #ffffff;
    font-size: 5rem;
    font-weight: 800;
    padding-bottom: 20rem;
    padding-right: 50rem;
}


/* About Section */
.section-about {
    background-color: var(--color-primary);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 70vh;
    width: 100vw;
}

.section-about-container {
    height: 100%;
    width: 100%;
}

.about-header {
    color: var(--color-secondary);
}

.benefits-header {
    color: var(--color-primary);
}

.section-header {
    /* align-items: center; */
    /* border-bottom: 0.15rem solid var(--color-primary); */
    font-size: 4rem;
    font-weight: 600;
    padding-top: 4rem;
    position: relative;
    text-align: center;
}

.section-about-body {
    align-items: center;
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    padding-left: 25vw;
    padding-top: 15vh;
    text-align: center;
    width: 50vw;
}

.section-about-body p {
    border-top: 0.15rem solid var(--color-secondaryDark);
    border-bottom: 0.15rem solid var(--color-secondaryDark);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Benefits Section */
.section-benefits {
    background-color: var(--color-secondary);
    height: 80vh;
    width: 100vw;
}

.section-benefits-container {
    height: 100%;
    width: 100%;
}


.section-benefits-wrapper {
    display: flex;
    height: 50%;
    justify-content: space-between;
    width: 90%;
}

.section-benefits-wrapper img {
    height: 10vw;
    justify-content: center;
    width: 10vw;
}

/* Get Started Section */
.section-getStarted {
    background-color: var(--color-primary);
    height: 90vh;
    width: 100vw;
}